.card {
  min-width: 282px;
  max-width: 100%;
  list-style: none;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
}

.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__title-text {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__fav-icon,
.card__trash-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.card__fav-icon:hover,
.card__trash-icon:hover {
  opacity: 0.5;
}

.card__fav-icon {
  background-image: url(../images/fav-icon.svg);
  width: 21px;
  height: 18px;
  flex-shrink: 0;
}

.card__fav-icon_active {
  background-image: url(../images/fav-icon-filled.svg);
}

.card__trash-icon {
  background-image: url(../images/trash.svg);
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
}
