.cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    justify-content: space-between;
    margin: 51px 0;
    padding: 0;
}

@media screen and (max-width:920px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:620px) {
    .cards {
        grid-template-columns: 1fr;
    }
}