.form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.form__title {
  font-weight: 900;
  font-size: 24px;
  margin: 0;
  line-height: 36px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: none;
  padding: 0;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__input {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 13px;
  border-radius: 0;
  border-style: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.form__input_type_error {
    border-bottom: solid 1px #FF0000;
}

.form__error-message {
    display: none;
    color: #FF0000;
    font-size: 12px;
    margin-top: 5px;
}

.form__error-message_active {
    display: block;
}

.form__submit {
  font-size: 18px;
  color: #fff;
  background-color: #000;
  border-style: none;
  border-radius: 2px;
  padding: 18px;
  transition: opacity linear 0.3s;
}

.form__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__submit_disabled {
    opacity: .2;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    pointer-events: none;
}

@media screen and (max-width: 618px) {
  .form {
    gap: 45px;
  }

  .form__title {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .form__submit {
    font-size: 14px;
    padding: 14px;
  }
}
