.header {
  margin: 0 auto 40px;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: solid 1px #545454b3;
  max-width: 880px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 920px) {
  .header {
    padding: 28px 0 32px 27px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
