*:focus-visible {
  outline: none;
}

.page {
  display: block;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.21em;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #000;
}

@media screen and (max-width: 618px) {
  .page {
    font-size: 14px;
  }
}
